:root {
  --color1: #004c77;
  --color2: #82b7c5;
  --color3: rgba(245, 239, 166, 1);
  --color4: rgba(245, 166, 92, 1);
  --color5: rgba(171, 52, 40, 1);
}

* {
  box-sizing: border-box;
}

// https://coolors.co/2d728f-3b8ea5-f5efa6-f5a65c-ab3428

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--color1);
  padding: 0.8rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.5rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  line-height: 1.3;
  color: #2d2d2d;
  margin: 0;
  padding: 0;
}

.content-container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}

#page-content.content-container {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 15px;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
}

a, a:focus, a:hover, a:visited {
  color: #3F729B;
}

textarea, button, input, select {
  font-size: 1rem;
}

textarea {
  width: 100%;
  padding: 10px;
  min-height: 200px;
  resize: vertical;
}

nav {
  margin-left: 1rem;
  display: inline-block;
}

nav li {
  list-style: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.3rem;
}

nav li a,
nav li a:hover,
nav li a:visited {
  color: white;
}
